html { height: 100%; }

body {

 font-family: verdana;

}

div.current-location {
    margin-top: 10px;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}

div.current_weather {
   position: fixed;
   margin-left: 180px;
   text-align: left;
   display: inline-block;

}

img.x-small-icon {
    height:20px;
    width:20px;
    -webkit-filter: invert(100%);
}

img.small-icon {
    height:25px;
    width:25px;
}

img.medium-icon {
    height:40px;
    width:40px;
}

div.current_weather_info {
    font-size: 14px;
    font-align: center;
    margin-top: -35px;
    margin-left: 340px;
    position: fixed;
}

div.precipitation_icon {
    margin-right:20px;
    position: fixed;
}

div.wind_icon {
    position: fixed;
    margin-left: 100px;
}

div.humidity_icon {
    margin-left:300px;
    position: fixed;
}

div.current-weather-extra-col {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 600px;
    position: fixed;

}

div.current_precipitation {
    margin-right: 60px;

    }

div.precipitation-text {

    margin-top: -20px;
    margin-left: 25px;
}

div.wind-text {
    margin-left: -30px;
    margin-top: 5px;
    position: fixed;

}

div.humidity-text {
    position: fixed;
}

div.humidity {
    margin-left: 25px;
}

div.precipitation {
    margin-left: 35px;
}

img.icon_wind {
    margin-left: -55px;
    position: fixed;
    -webkit-filter: invert(100%);
}

img.icon_humidity {
    margin-left: -25px;
    position: fixed;
}

div.current_wind_spd {
    margin-top: -3px;
    margin-left: 130px;
    position: fixed;

}

div.current_humidity {
    margin-left: -10px;
    position: fixed;

}

div.five_day_forecast {
   text-align: center;
   margin-top: 310px;
   margin-left: 110px;
   position: fixed;
   display: inline-block;

}

div.row {
  margin-top: 30px;

}

div.date_text {
  font-weight: normal;
  font-size: 22px;
  color: #000000;
  cursor: pointer;

}

div.col-sm {
    text-align: center;
    font-weight: bold;
    font-size: 22px;

}

div.forecast_temp {
    margin-top: -30px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    color: black;

}

div.current_condition {
    font-size:34px;
    font-weight: bold;
    margin-left: 20px;
}

div.current_temperature {
    text.align:left;
    font-size:86px;
    font-weight: bold;
    margin-left: 20px;

}

div.change_location {
    margin-top: 6px;
    text.align:left;
    font-size:15px;
    font-weight:bold;
}

a {
    cursor: pointer;
}

div.moon_phase {
    margin-left: 190px;
    margin-top: -100px;

}

span.moon_phase {
    margin-left: -35px;
    font-weight: bold;
}

img.sunrise-icon {
    margin-right: -25px;
    -webkit-filter: invert(100%);

}

div.sunrise {
    margin-left: 110px;
    margin-top: -50px;
}

span.sunrise-text {
    font-weight: bold;

}

div.moonrise {
    margin-left: 145px;
    margin-top: -20px;
}

span.moonrise-text {
    font-weight: bold;

}

div.moonset {
    margin-left: 305px;
    margin-top: -40px;

}

span.moonset-text {
    font-weight: bold;

}

div.sunset {
    margin-left: 270px;
    margin-top: -100px;
}

span.sunset-text {
    font-weight: bold;

}

img.sunset-icon {
    margin-right: -25px;
    -webkit-filter: invert(100%);

}

img.forecast-icon {
    height:150px;
    width: 150px;
    margin-top: -40px;

}

div.current_weather {
    color: white;
}

img.icon_moon {
    -webkit-filter: invert(100%);

}

img.moonset-icon {
    -webkit-filter: invert(100%);
}

img.moonrise-icon {
    -webkit-filter: invert(100%);
}

div.current_weather {
    height: 300px;
    margin-top: 10px;
    margin-left: 120px;

    -moz-animation: fadein 3s;      /* Firefox < 16 */
    -webkit-animation: fadein 3s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein 3s;        /* Opera < 12.1 */

}

#current_weather_box {
    background-image: url('../img/Background/day_background.png');
    opacity: 1; /* Change To .05 for Modal */
    height: 300px;

    /* Blur Background Image */
     /* filter: blur(2px);
    -webkit-filter: blur(3px); */

}

.hourly-weather {
    color: white;
    font-weight: bold;
    margin-left: 145px;
    width: 1090px;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    z-index: 5;
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#weather-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0); /* Normal Overlay */
    /* background-color: rgba(0,0,0,0.8); Transparent Black Overlay */

}

#search-box {
    display: none;
    background-color: #ffffff;
    position: absolute;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 140px;
    width: 500px;
    margin-top: 10px;
    margin-left: 610px;
    box-shadow: 0 0 5px 5px #2D2D2D;
    z-index: 5;
    position: absolute;

    -moz-animation: fadein .4s;      /* Firefox < 16 */
    -webkit-animation: fadein .4s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein .4s;        /* Opera < 12.1 */
}

input[id="search-text"] {
    font-size: 24px;
    margin-left: 0px;
    width: 480px;
    z-index: 10;
}

input[id="search"] {
    font-size: 24px;
    margin-left: 0px;
    width: 480px;
}

div.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 480px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

div.dropdown-content a {
  font-size: 16px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
}

div.user-location {
    margin-top: -25px;
    font-size: 18px;

}

img.search-icon {
    margin-top: -80px;
    margin-right:10px;
    cursor: pointer;
}

img.close-icon {
    margin-top: -35px;
    cursor: pointer;

}

#searchText {
    margin-top:10px;
}


div.hour-weather {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 85px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;

}

#updated-temperature {
    font-size:86px;
    font-weight: bold;
}

#updated-condition {
    font-size:34px;
    font-weight: bold;
}

#updated-weather-info {
    margin-left: 850px;
    margin-top: -150px;

}